.checkOut {
    
    background: #fff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgb(255, 230, 131);
    width:1050px;
    margin-top:200px;
    margin-left:20px;
    height:250px;

    
    
}
.checkImg{
    margin-top:200px;
}